<video
  [muted]="'muted'"
  [autoplay]="'autoplay'"
  [loop]="'{{loopVideo}}'"
  id="videoBackground"
>
  <source src="assets/vid/{{ backgroundVideo }}" type="video/mp4" />
</video>
<div class="main-content">
  <div class="" id="shadowContent">
    <h1 class="titleShadow">Assassino das Sombras</h1>
    <p id="loreShadow">
      Atentado pelo poder de uma arma Darkin, kayn toma o controle de Rhaast.
      Para a surpresa da Ordem das Sombras, Kayn não vira um darkin, assim
      derrotando e absorvendo todo o poder de Rhaast,tornando-se o assassino das
      sombras.<br />
      Será que ele provará seu valor?
    </p>
    <button class="cta">
      <h1 class="hover-underline-animation" (click)="scrollToStory()">
        Leia Mais
      </h1>
    </button>
    <button class="cta" id="sairButton">
      <h1 class="hover-underline-animation" (click)="exitSelection()">Sair</h1>
    </button>
  </div>
  <div class="" id="darkinContent">
    <h1 class="titleShadow">Rhaast, o Darkin</h1>
    <p id="loreShadow">
      Atentado pelo poder de uma arma Darkin, Kayn decide tomar posse da foice
      darkin Rhaast. Porém Rhaast derrota Kayn e toma posse de seu corpo, assim,
      o corrompendo. Agora Rhaast junta-se a Aatrox, Varus e Naafiri pela sede
      de sangue dos Mortais de Runeterra.
    </p>
    <button class="cta">
      <h1 class="hover-underline-animation" (click)="scrollToStory()">
        Leia Mais
      </h1>
    </button>
    <button class="cta" id="sairButton">
      <h1 class="hover-underline-animation" (click)="exitSelection()">Sair</h1>
    </button>
  </div>
  <div
    class="darkin"
    id="darkinDiv"
    (mouseenter)="hoverDarkin()"
    (mouseleave)="hoverOutDarkin()"
    (click)="clickDarkin()"
  ></div>
  <div
    class="shadow"
    id="shadowDiv"
    (mouseenter)="hoverShadow()"
    (mouseleave)="hoverOutDarkin()"
    (click)="clickShadow()"
  ></div>
  <div class="centralize">
    <h1 class="page-title main-title" id="championName">Kayn</h1>
    <h2 class="title-complement" id="championTitle">O ceifador das sombras</h2>
    <h3 class="title-complement" id="regionInfo">
      <img id="regionIcon" src="assets/img/ioniaIcon.png" /><a
        href="https://universe.leagueoflegends.com/pt_BR/region/ionia"
        target="_blank"
        id="regionText"
        >Ionia</a
      >
    </h3>
  </div>
</div>
<div class="lore">
  <div class="loreContent" id="mainLore">
    <p>
      Nascido em Noxus, Shieda Kayn e seus semelhantes foram recrutados como
      crianças-soldado, uma prática nefasta praticada apenas pelos comandantes
      mais cruéis do império de Boram Darkwill. Após uma desastrosa batalha no
      Placídio de Navori, a invasão deliberadamente se transformou em uma
      prolongada e desgastante guerra. A compaixão ioniana era uma fraqueza a
      ser explorada; Noxus sabia que os guerreiros hesitavam antes de executar
      alguém que poderia ser inocente. Assim, mal conseguindo segurar a espada
      que lhe fora dada, o primeiro dia de batalha de Kayn também prometia ser o
      último.
    </p>
    <p id="secondParagraph">
      Avançando sobre a província de Bahrl, as forças noxianas aportaram na foz
      do Rio Epool. Kayn e as outras crianças eram uma vanguarda relutante que
      enfrentava grupos desorganizados de nativos que tentavam defender seus
      lares dos persistentes invasores. Enquanto seus jovens companheiros eram
      aniquilados ou fugiam do campo de batalha, Kayn não mostrava nenhum sinal
      de medo. Ele soltou sua pesada espada e apanhou uma foice caída,
      virando-se para encarar os ionianos estupefatos no exato momento em que os
      noxianos se infiltraram pelo flanco.
    </p>
    <p>
      A carnificina foi atordoante. Fazendeiros, caçadores — e até alguns
      vastaya — foram aniquilados sem cerimônia.
    </p>
    <p>
      Dois dias depois, quando a notícia já tinha se espalhado por todos os
      territórios do sul, a Ordem das Sombras chegou àquele cenário aterrador.
      Seu líder, Zed, sabia que esta área não tinha nenhuma relevância tática. O
      massacre fora apenas um aviso. Noxus não teria piedade.
    </p>
    <p>
      Foi então que um pedaço reluzente de aço chamou sua atenção. Uma criança
      de no máximo dez anos estava deitada na lama, apontando sua foice quebrada
      para o mestre assassino e com punhos retesados e ensanguentados. Os olhos
      do garoto expressavam uma dor incompatível com sua idade, mas que ainda
      assim transmitia toda a ira de um guerreiro calejado. Esse tipo de
      tenacidade era algo que não podia ser ensinado. Zed viu nesse garoto,
      nesse sobrevivente noxiano abandonado, uma arma que poderia se virar
      contra aqueles que o mandaram até aqui para morrer. O assassino estendeu a
      mão e recebeu Kayn na Ordem das Sombras.
    </p>
    <p>
      Os acólitos normalmente passavam anos treinando com uma única arma, mas
      Kayn aprendeu a usar todas elas. Para ele, elas não passavam de meras
      ferramentas e apenas ele era a verdadeira arma. Ele considerava a armadura
      um peso desnecessário e preferia se esconder nas sombras para exterminar
      seus inimigos com agilidade e discrição. Essas execuções rápidas enchiam
      de medo os corações dos que tinham a sorte de serem poupados.
    </p>
    <p>
      E a lenda de Kayn crescia, assim como sua arrogância. Ele realmente
      acreditava que um dia seu poder ofuscaria até o do próprio Zed.
    </p>
    <p>
      Essa arrogância levou Kayn a aceitar um desafio final: procurar a arma
      darkin que tinha sido desenterrada recentemente em Noxus e impedir que ela
      fosse usada contra os abatidos defensores de Ionia. Ele foi sem hesitar e
      sem jamais questionar por que o escolheram para esta missão. De fato,
      enquanto qualquer outro acólito teria destruído a foice viva conhecida
      como Rhaast, Kayn resolveu ficar com ela.
    </p>
    <p>
      Ele foi corrompido no momento em que colocou as mãos na arma, segurando-a
      com firmeza e determinação. Rhaast há muito esperava que o hospedeiro
      ideal viesse para que ele e seus irmãos darkin pudessem assolar o mundo
      juntos, mas Kayn não seria facilmente dominado. Ele voltou para Ionia
      triunfante, convencido de que Zed iria nomeá-lo como o novo líder da Ordem
      das Sombras.
    </p>
  </div>
  <button id="toTopButton"><i class="fa-solid fa-arrow-up"></i></button>
</div>
