<div class="mainContent">
  <div class="hideOverflow" id="header"></div>
  <ul class="image-list">
    <li class="selection-images" id="camilleDiv">
      <div id="Camille" (click)="animationCamille()">
        <img class="Champions" id="camille" src="assets/img/ArcanaCamille.jpg" />
        <img id="TopLane" class="icons" src="assets/img/TopLane.png" />
      </div>
    </li>
    <li class="selection-images" id="kaynDiv">
      <div id="KaynSelection" (click)="animationKayn()">
        <img class="Champions" id="kayn" src="assets/img/snowMoonKayn.jpg"/>
        <img id="jungleIcon" class="icons" src="assets/img/jungleIcon.png" />
      </div>
    </li>
    <li class="selection-images" id="zedDiv">
      <div (click)="animationZed()">
        <img id="zed" class="Champions" src="assets/img/GalaxySlayerZed.jpg" />
        <img id="midIcon" class="icons" src="assets/img/MiddleIcon.png" />
      </div>
    </li>
    <li class="selection-images" id="apheliosDiv">
      <div id="ApheliosSelection" (click)="animationAphelios()">
        <img class="Champions" id="aphelios" src="assets/img/apheliosWallpaper.jpg" />
        <img id="ADCIcon" class="icons" src="assets/img/ADCIcon.png" />
      </div>
    </li>
    <li class="selection-images" id="leonaDiv">
      <div (click)="animationLeona()">
        <img
          id="leona"
          class="Champions"
          src="assets/img/SolarEclipseLeona.jpg"
        />
        <img id="SupportIcon" class="icons" src="assets/img/SupportIcon.png" />
      </div>
    </li>
  </ul>
  <div class="hideOverflow" id="bottom"></div>
</div>
