<img src="assets/img/Background.jpg" id="imagemBackground">
<div class="mainContent">
  <h1 class="title">Estastísticas dos Personagens dentro do Jogo</h1>
  <div class="tableContent">
    <p-table
      [value]="champion"
      [tableStyle]="{ 'min-width': '50rem' }"
      class="tabelaStats"
      styleClass="p-datatable-gridlines"
    >
      styleClass="p-datatable-gridlines" >
      <ng-template pTemplate="header">
        <tr>
          <th>Champion Name</th>
          <th>Win Rate</th>
          <th>Pick Rate</th>
          <th>Ban Rate</th>
          <th>Role</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-champion>
        <tr>
          <td>{{ champion.name }}</td>
          <td>{{ champion.winRate }}%</td>
          <td>{{ champion.pickRate }}%</td>
          <td>{{ champion.banRate }}%</td>
          <td>{{ champion.role }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="footer-table">
          {{ champion ? champion.length : 0 }} Personagens
          Registrados.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
