/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Beaufort-for-LOL-italic;
    src: url(./assets/fonts/BeaufortforLOL-HeavyItalic.ttf);
}

@font-face {
    font-family: BeaufortMedium;
    src: url(./assets/fonts/BeaufortforLOL-MediumItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 1%;
}

app-header {
    position: fixed;
    opacity: 0;
}

.page-title, .title-complement, ul, .titleShadow, .titleDarkin, button, p {
    font-family: Beaufort-for-LOL-italic;

}
.lore {
    font-family: BeaufortMedium;
}

#nomeArma{
    font-family: Beaufort-for-LOL-italic;
}

#nomeArmaSelecionada {
    font-family: Beaufort-for-LOL-italic;
}

body {
  overflow-x: hidden;
}
